.tasks-performer {
    height: 100%;
    flex-grow: 1;
}
/* -------------------- Role filter -------------------- */

.tasks-performer-role-container {
    display: flex;
    justify-content: center;
}

.tasks-performer-role-box {
    position: relative;
    height: 50px;
    width: 500px;
}

.role-filter {
    border: 2px solid var(--secondary-dark);
    border-radius: 30px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.tasks-performer-role-customer-button,
.tasks-performer-role-performer-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 42px;
    margin: 2px;
    cursor: pointer;
}

.tasks-performer-role-customer-button {
    top: 0;
    left: 0;
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.tasks-performer-role-performer-button {
    top: 0;
    right: 0;
    color: #fff;
    border-radius: 25px;
    font-size: 16px;
    background-color: var(--secondary-dark);
    border: none;
}

/* -------------------- Search bar -------------------- */
.tasks-performer-search-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.tasks-performer-search-container .tasks-performer-search-input {
    border: 2px solid var(--secondary-dark);
}
.tasks-performer-search-wrap {
    width: 18%;
}

.tasks-performer-search-wrap .tasks-performer-search-box {
    position: relative;
    height: 40px;
}

.tasks-performer-search-wrap
    .tasks-performer-search-box
    .tasks-performer-search-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.tasks-performer-search-wrap
    .tasks-performer-search-box
    .tasks-performer-search-input {
    border-radius: 30px;
}

.tasks-performer-search-btn-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 34px;
    height: 32px;
    background-color: var(--secondary-dark);
    z-index: 1;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}
.tasks-performer-search-btn {
    color: #fff;
}

.tasks-performer-content {
    margin-top: 3.5rem;
    width: 100%;
    display: flex;
}

/* -------------------- Content -------------------- */
.tasks-performer-container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.tasks-performer-wrapper {
    padding: 5rem 1rem;
}

.tasks-performer-title {
    width: 100%;
    text-align: center;
}

.tasks-performer-title-main {
    font-size: 45px;
}

.tasks-performer-title-sub {
    margin: 0.3rem 0 2rem;
}

.tasks-performer-title-sub-text-lower {
    margin-top: 0.3rem;
}

.tasks-performer-content {
    margin-top: 3.5rem;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
}

.tasks-performer-left-content {
    width: 50%;
    border-right: 1px solid var(--secondary-light);
    top: 0;
    bottom: 0;
}
.tasks-performer-right-content {
    width: 50%;
}

/*  */

.tasks-performer-left-content-title,
.tasks-performer-right-content-title {
    text-align: center;
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 1.5rem;
}

.tasks-performer-left-list-item,
.tasks-performer-right-list-item {
    padding: 1.5rem 2.5rem;
    border-radius: 10px;
    border: 1px solid var(--secondary-light);
    /*box-shadow: 6px 6px 14px 0 rgb(0, 0, 0, 0.2);*/
    margin: 1rem 1rem;
}

.tasks-performer-right-list-item {
    background-color: var(--secondary-light);
    color: var(--secondary-medium);
}

.tasks-performer-left-list-item-top,
.tasks-performer-right-list-item-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.tasks-performer-left-list-item-title,
.tasks-performer-right-list-item-title {
    font-size: 22px;
    font-weight: 700;
}

.tasks-performer-left-list-item-price,
.tasks-performer-right-list-item-price {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.tasks-performer-left-price-tag,
.tasks-performer-right-price-tag {
    font-weight: 700;
}
.tasks-performer-left-price-number,
.tasks-performer-right-price-number {
    margin-left: 10px;
    font-weight: 300;
}

.tasks-performer-left-list-item-bottom,
.tasks-performer-right-list-item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2rem;
}

.tasks-performer-left-list-item-desc-address,
.tasks-performer-right-list-item-desc-address {
    font-weight: 300;
    font-size: 16px;
}

.tasks-performer-left-list-item-desc-when,
.tasks-performer-right-list-item-desc-when {
    display: flex;
    margin-top: 12px;
    font-size: 16px;
}

.tasks-performer-left-list-item-desc-date-title,
.tasks-performer-right-list-item-desc-date-title {
    font-weight: 500;
}

.tasks-performer-left-list-item-desc-date-time,
.tasks-performer-right-list-item-desc-date-time {
    margin-left: 10px;
    font-weight: 300;
}

.tasks-performer-right-list-item-performer {
    text-align: right;
}

.tasks-performer-right-list-done-by {
    font-size: 14px;
    font-weight: 300;
}

.tasks-performer-right-list-item-performer-name {
    font-size: 16px;
    font-weight: 500;
}

/* 13 inch MacBook */
@media only screen and (max-width: 1440px) {
    .tasks-performer-wrapper {
        padding: 4rem 1rem;
    }
}

/* Large screen */
@media only screen and (max-width: 1200px) {
    .tasks-performer-wrapper {
        padding: 3rem 1rem;
    }

    .tasks-performer-left-content-title,
    .tasks-performer-right-content-title {
        font-size: 24px;
    }
    .tasks-performer-left-list-item-title,
    .tasks-performer-right-list-item-title {
        font-size: 20px;
    }
    .tasks-performer-left-list-item-price,
    .tasks-performer-right-list-item-price {
        font-size: 18px;
    }
    .tasks-performer-left-list-item-desc-address,
    .tasks-performer-right-list-item-desc-address {
        font-size: 16px;
    }
    .tasks-performer-left-list-item-desc-when,
    .tasks-performer-right-list-item-desc-when {
        margin-top: 8px;
        font-size: 14px;
    }
}

/* Small screen */
@media only screen and (max-width: 992px) {
    .tasks-performer-wrapper {
        padding: 2rem 1rem;
    }

    .tasks-performer-title-main {
        font-size: 38px;
    }

    .tasks-performer-title-sub {
        font-size: 16px;
    }
    .tasks-performer-filter {
        display: none;
    }
    .tasks-performer-role-box {
        height: 44px;
        width: 450px;
    }
    .tasks-performer-role-customer-button,
    .tasks-performer-role-performer-button {
        height: 36px;
        font-size: 14px;
    }

    .tasks-performer-left-content-title,
    .tasks-performer-right-content-title {
        font-size: 22px;
    }
    .tasks-performer-left-list-item-title,
    .tasks-performer-right-list-item-title {
        font-size: 18px;
    }
    .tasks-performer-left-list-item-price,
    .tasks-performer-right-list-item-price {
        font-size: 16px;
    }
    .tasks-performer-left-list-item-desc-address,
    .tasks-performer-right-list-item-desc-address {
        font-size: 14px;
    }
    .tasks-performer-left-list-item-desc-when,
    .tasks-performer-right-list-item-desc-when {
        margin-top: 8px;
        font-size: 14px;
    }
    .tasks-performer-right-list-done-by {
        font-size: 12px;
    }
    .tasks-performer-right-list-item-performer-name {
        font-size: 14px;
    }
}
/* Tablet */
@media only screen and (max-width: 768px) {
    .tasks-performer-wrapper {
        padding: 1rem 1rem;
    }

    .tasks-performer-title-main {
        font-size: 34px;
    }

    .tasks-performer-title-sub {
        font-size: 16px;
    }

    .tasks-performer-role-box {
        height: 40px;
    }
    .tasks-performer-role-customer-button,
    .tasks-performer-role-performer-button {
        height: 32px;
    }

    .tasks-performer-content {
        flex-direction: column;
    }
    .tasks-performer-left-content,
    .tasks-performer-right-content {
        width: 100%;
    }
    .tasks-performer-left-list-item,
    .tasks-performer-right-list-item {
        margin: 1rem 0;
    }
    .tasks-performer-left-content {
        border-right: none;
        border-bottom: 1px solid var(--secondary-light);
    }
    .tasks-performer-left-content-list {
        margin-bottom: 2rem;
    }
    .tasks-performer-right-content {
        margin-top: 2rem;
    }
    .tasks-performer-right-content-list {
        margin-bottom: 2rem;
    }
}

/* Mobile */
@media only screen and (max-width: 480px) {
    .tasks-performer-title-main {
        font-size: 30px;
    }

    .tasks-performer-title-sub {
        font-size: 14px;
    }

    .tasks-performer-content {
        margin-top: 2rem;
    }

    .tasks-performer-left-content-title,
    .tasks-performer-right-content-title {
        font-size: 20px;
        margin-bottom: 0.75rem;
    }
    .tasks-performer-left-content-list {
        margin-bottom: 1.5rem;
    }
    .tasks-performer-right-content {
        margin-top: 1.5rem;
    }
    .tasks-performer-left-list-item,
    .tasks-performer-right-list-item {
        padding: 0.75rem 1.5rem;
    }
    .tasks-performer-right-content-list {
        margin-bottom: 1.5rem;
    }
}
