.modal-complete {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-complete-content {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
}

.modal-complete-header,
.modal-complete-footer {
    padding: 10px;
}
.modal-complete-header {
    background-color: var(--secondary-medium);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.modal-complete-title {
    margin: 0 5px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}
.modal-complete-body {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.modal-complete-btns {
    display: flex;
    margin: 0 3rem 1rem;
}

.modal-complete-no-btn,
.modal-complete-yes-btn {
    width: 100%;
}

.modal-complete-yes-btn {
    margin-left: 10px;
}
